build
**/bin
**/obj

hardware/**/**/export
hardware/**/**/*.*-bak
hardware/**/**/*-cache.lib
hardware/**/**/*-rescue.dcm
hardware/**/**/*-rescue.lib
hardware/**/**/*.net
hardware/**/**/fp-info-cache
hardware/**/**/sym-lib-table
